<!DOCTYPE html>
<html lang="da">
    <head>
        <meta charset="UTF-8">
        <title>{title}</title>
    </head>
    <body>
        <header class="main-header">{header}</header>
        
        <nav class="main-nav">{nav}</nav>

        <main class="main-content">
            <section class="top__section">{top-section}</section>
            <section class="mid__section">{mid-section}</section>
            <section class="bot__section">{bot-section}</section>
        </main>

        <footer class="main-footer">{footer}</footer>
    </body>
</html>